@model Fitvalle_25.Models.User

<h2>Perfil del usuario</h2>

<ul>
    <li><b>Email:</b> @Model.Email</li>
    <li><b>Nombre:</b> @Model.Name</li>
    <li><b>Rol:</b> @Model.Role</li>
    <li><b>Registrado:</b> @Model.RegisterDate</li>
    <li><b>Estado:</b> @Model.State</li>
</ul>
